<div>
  <div class="background"></div>

  <form>
    <h3>Sign up Here</h3>
    <div class="inputField">
      <input type="text" placeholder="First name" id="firstname" />
      <input type="text" placeholder="Last name" id="lastname" />

      <input type="text" placeholder="User name" id="username" />

      <input type="password" placeholder="Password" id="password" />
    </div>
    <button>Sign In</button>
    <div class="bottom">
      <p>
        Already have an account ?
        <a>Login here</a>
      </p>
    </div>
  </form>
</div>
